# Dotfiles
.bash_history
.bash_profile
.bashrc
.config
.dockerfunc
.extra
.gitconfig
.gitools.sh
.MacOSX
.npmrc
.oh-my-zsh/
.pip
.profile
.shell_zsh.sh
.shell_zsh_sesu.sh
.ssh
.starrc
.viminfo
.vimrc
.zshrc
pip

# PortableApps folders
Documents
PortableApps

# PortableApps files
Start.exe
Autorun.inf

# Home folders
AppData
apps
Desktop
Downloads
Favorites
Sources
Tools/*
!Tools/Bat
